# Dependencies

## Summary
{{- if .DependencySummaries }}
| Manager | Count |
|---|---|
{{- range .DependencySummaries }}
| {{ .Name }} | {{ .Count }} |
{{- end }}
{{- else }}
No dependencies detected.
{{- end }}

{{- if .DependencyManagers }}
{{- range .DependencyManagers }}
## {{ . }}
{{- $deps := index $.Dependencies . }}
{{- if $deps }}
| Name | Version |
|---|---|
{{- range $deps }}
| {{ .Name }} | {{ .Version }} |
{{- end }}
{{- else }}
No dependencies detected for this manager.
{{- end }}

{{- end }}
{{- end }}
